@CHARSET "UTF-8";
/* Калин */
/* Global */
body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	background-image: url("img/body_noise.jpg");
	background-repeat: repeat;
}
a{
	text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
a:hover{
	color: #097ec3;
}
ul {
	list-style-type: none;
}
input[type="text"]{
	width: 200px;
	background-color:transparent;
	outline:none;
	padding:1px;
	border: 1px solid white;
	color: black;
	font-weight: bold;
	text-shadow: 5px 5px 10px #70DB93;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 2px 2px 3px 2px #097ec3;
	-moz-box-shadow: 2px 2px 3px  2px #097ec3;
	box-shadow: 2px 2px 3px 2px #097ec3;
}
input[type="text"]:focus{
	background-color:#FFF8DC;
}
input[type="text"]:hover{
	background-color:#FFF8DC;
}
#serviceNotLogged input[type="text"],
#serviceNotLogged input[type="password"]{
	width: 200px;
	outline: none;
	border: 1px solid white;
	color: red;
	font-weight: bold;
	background-color: transparent;
	-webkit-border-radius: 2px 0 2px 0;
	-moz-border-radius: 2px 0 2px 0;
	border-radius: 2px 0 2px 0;
	-webkit-box-shadow: 2px 2px 3px 2px red;
	-moz-box-shadow: 2px 2px 3px  2px red;
	box-shadow: 2px 2px 3px 2px red;
}
#serviceNotLogged input[type="text"]:hover,
#serviceNotLogged input[type="password"]:hover{
	background-color:#FFF8DC;
}
#serviceNotLogged input[type="text"]:focus,
#serviceNotLogged input[type="password"]:focus{
	background-color:#FFF8DC;
}
input[disabled='disabled']{
	background-color: grey;
}
input[disabled='disabled']:ACTIVE{
	-webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
}
input[disabled='disabled']:hover{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input[disabled='disabled']:hover{
	background-color: grey;
}
.inTableButton{
	border:none;
	background-color:#70DB93;
	color: white;
	padding: 5px;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 90%;
}
.inTableButton:hover{
	background-color:#329555;
	color: white;
}
.inTableButton:ACTIVE{
	-webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
}

/* Header section */

#header {
	background-image: url("img/header_3.jpg");
	background-repeat: no-repeat;
	float: left;
	margin-top: 20px;
	margin-bottom: 15px;
	width: 900px;
	height: 162px;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
#title{
	font-size: 30px;
	margin-top: 20px;
	color: #097ec3;
	font-style: italic;
	text-align: center;
	font-weight: bold;
}

/* Login Section */

#loginSection div span{
	display: block;
	padding-bottom:10px;
	color: #097ec3;
	font-weight: bold;
}

#serviceNotLogged label{
	color: #FC0000;
	font-weight: bold;
}

#exitButton,
#LoginButton{
	float: left;
}
#LoginButton{
	margin-top: -5px;
}

#loginSection {
	float: right;
	margin-right: 25px;
	margin-top: 20px;
	
}

#serviceLogged {
	width: 210px;
	height: 120px;
	border: 1px solid #097ec3;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px
}

#serviceNotLogged{
	width: 210px;
	height: 120px;
	border: 1px solid red;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}


#errorMessage{
	color: red !important;
	margin-top: 0px;
	float: right;
}
#loginSection div{
	padding: 20px;
}

/* Menu Section */

#leftSection {
	float: left;
	width: 200px;
	padding: 10px;
	padding-top: 22px;
	padding-right: 3px;
}

#leftSection span {
	display: block;
	width: 180px;
	margin-top: -10px;
	margin-right: 28px;
}

#leftSection li {
	width: 150px;
	text-align: left;
	padding: 2px;
	font-style: italic;
	border-bottom: 1px solid black;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
#leftSection li a{
	display:block;
}

#leftSection li:hover {
	background: rgba(207,207,257, .8);
	cursor: default;
	font-style: italic;	
}

#leftSection span {
	background: #fff;
	cursor: pointer;
	border: 1px solid black;
	padding: 5px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#leftSection span:hover {
	background: #cfcfff;
	color: #0000ad;
}

/* Main site Section */
	/* Table styles */

#tableClear{
	clear: both;
}
		/* Main Table */
		
.mainTable{
	float: left;
	margin-left: 20px;
	margin-top:20px;
	border: none;
	border-collapse: collapse;
}
.mainTable td{
	border: none;
}
.mainTable label{
	color: #097ec3;
	text-shadow: 5px 5px 10px #097ec3;
	}

.selectedRow{
	background: #D3D3D3;
}

		/* Button Table */
.buttonTable{
	float: left;
	clear: left;
	margin-left: 80px;
	border: none;
	border-collapse: collapse;
}
.buttonTable td{
	border: none;
}
.buttonTable label{
	color: #097ec3;
	text-shadow: 5px 5px 10px #097ec3;
}

/* Buttons */

.regButton{
	border: none;
	padding: 2px;
	color: white;
	background: #097ec3;
	border: 1px solid white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 90%;
}
.regButton:ACTIVE{
	-webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
      -ms-transform: scale(0.9);
       -o-transform: scale(0.9);
          transform: scale(0.9);
}
.regButton:hover{
	-webkit-box-shadow: 0px 0px 3px 2px #097ec3;
	-moz-box-shadow: 0px 0px 3px 2px #097ec3;
	box-shadow: 0px 0px 3px 2px #097ec3;
}

/* Central Section Style */

#centralSection{
	float: left;
	overflow: auto;
	width: 900px;
	margin-left: 50px;
	margin-top: 40px;
}


#centralSection div{
	float: left;
}

#centralSection label{
	width: auto;
	margin-top: 20px;
	margin-bottom: 5px;
	display: inline-block;
	margin-left: 20px;
	padding: 5px;
	cursor: mouse;
}

/* OLD STYLES */

#buttonAction{
	margin-left: 25px;
	margin-top: 35px;
}

/* Запазване на час */


#proveriZaSvobodni4asove{
	display: block;
	margin-top: 20px;
	margin-left: 20px;
	text-align: center;
}
#zapazvane input[type="submit"]{
	border: 1px solid black;
}
#zapazvane{
	width: 500px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 8px;
	background-color: white;
	border: 1px solid black;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#rezervirai{
	display: block;
	margin-left: 40px;
}
#zap4as{
	display:inline-block;
	margin-left:170px;
	margin-top:10px;
}
#zap4as label{
	color: #097ec3;
	text-shadow: 5px 5px 10px #097ec3;
}

/* END Запазване на час */

/* Актуализиране на служител */


#AktualiziraneNaSlujitel{
	clear: both;
}

#tyrsiIz4isti{
	display:block;
	margin-top: 5px;
}

/* END Актуализиране на служител */


/* Венци */
input, a {
	margin: 4px;
}

table {
	border: 1px solid #70DB93;;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}
table td{
	color: #FF3300;
	text-shadow: 5px 5px 10px #FF3300;
}
tr {
	padding: 0px;
	margin: 0px;
}

th, td {
	margin: 0;
	border: 0;
	color: #CD0000;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2px;
	padding-right: 2px;
	border-right: 1px solid #70DB93;
	border-left: 0px solid #70DB93;
}

thead>tr {
	border: 1px solid #70DB93;
	
}

tfoot>tr {
	text-align: center;
	border: 1px solid #70DB93;
}

/* използвани в главното меню */
.allowedLink {
	font-style: italic;
}

/* използвани в главното меню */
.disabledLink {
	font-weight: bold;
}
#scroolTable{
	overflow-x: auto;
	width: 900px;
}
