<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Production</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.expressionFactory</param-name>
    <param-value>org.jboss.el.ExpressionFactoryImpl</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.enableMultiThreadedStartup</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>com.sun.faces.enableThreading</param-name>
    <param-value>false</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <security-constraint>
    <web-resource-collection>
    <web-resource-name>Protected Resources</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <url-pattern>/cron/*</url-pattern>
      <url-pattern>/debug/*</url-pattern>
      <url-pattern>/soap/*</url-pattern>
      <url-pattern>/users/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <!--
  <error-page>
	<error-code>500</error-code>
	<location>/general-error.jsf</location>
  </error-page>
  -->
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SystemServiceServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value/>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServiceServlet</servlet-name>
    <url-pattern>/_ah/spi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitModelData Servlet</servlet-name>
    <servlet-class>controller.debug.InitModelData</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ElectronicShop SOAP Handler Servlet</servlet-name>
    <servlet-class>controller.serverCommunication.SOAPServer.ElectronicShopSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectronicShop SOAP Handler Servlet</servlet-name>
    <url-pattern>/soap/ElectronicShopService.soap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Insurer SOAP Handler Servlet</servlet-name>
    <servlet-class>controller.serverCommunication.SOAPServer.InsurerSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insurer SOAP Handler Servlet</servlet-name>
    <url-pattern>/soap/InsurerService.soap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Supplier SOAP Handler Servlet</servlet-name>
    <servlet-class>controller.serverCommunication.SOAPServer.SupplierSOAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supplier SOAP Handler Servlet</servlet-name>
    <url-pattern>/soap/SupplierService.soap</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>UTF8 Filter</filter-name>
    <filter-class>controller.common.UTF8Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UTF8 Filter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>JSF Flash Cookie Filter</filter-name>
    <filter-class>controller.common.JSFFlashCookieFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JSF Flash Cookie Filter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>Security Filter</filter-name>
    <filter-class>controller.common.SecurityController</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Security Filter</filter-name>
    <url-pattern>*.jsf</url-pattern>
  </filter-mapping>
</web-app>